*
!.gitignore
!bot.py
!doc_command.py
!docs.yaml
!troubleshoot.py
!troubleshooting-tree.yaml
!known-bugs.yaml
!config.example.yaml
!pyproject.toml
!README.md
!CONTRIBUTING.md
!docs/
!docs/**
!.github/
!.github/**
